@import "reset";

body {
    background: linear-gradient(to right, #4b4b4a, rgb(255, 174, 0));

    .container {
        display: grid;
        place-items: center;
        height: 100vh;
        margin: 0;

        .character-container {
            border: 1px solid wheat;
            border-radius: 10px;
            background-color: rgba(123, 123, 123);

            .character-images {
                img {
                    width: 400px;
                    border-radius: 10px 10px 0 0;
                }
            }

            .character-feature {
                display: flex;
                align-items: start;
                flex-direction: column;
                justify-content: space-around;
                padding: 3px;

                h2 {
                    color: darkorange;
                }

                span {
                    color: antiquewhite;
                }
            }
        }
    }
}